#imagenRestaurante {
    background-color: brown;
}

#nombreRestaurante {
    text-align: right;
    background-color: blue;
    /*position: absolute;*/
}

.restaurante {
    width: 100%;
    height: 100px;
    background-color: brown;
    border-radius: 10px;
    border-width: 1px;
    border-color: white;
}

.restaurante hover {
    border-color: grey;
}

.imagen {
    /*width: 30%;*/
    float: left;
}

.imagen img {
    height: 200px;
}

